@model IEnumerable<PWebTudoDeNovo.Models.Product>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>


<div class="row">
    <input type="text" id="myInput" onkeyup="Pesquisa()" placeholder="Pesquisa por nome" title="Escreva o nome">

    <table class="table" id="myTable2">
        <tr class="header">
            <th onclick="sortTable(0)">
                Categoria
            </th>
            <th onclick="sortTable(1)">
                Produto
            </th>
            <th onclick="sortTable(2)">
                @Html.DisplayNameFor(model => model.Empresa)
            </th>
            <th onclick="sortTable(3)">
                Preço
            </th>
            <th onclick="sortTable(4)">
                @Html.DisplayNameFor(model => model.Stock)
            </th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Categoria.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Empresa)
                </td>

                @if (item.Promocao != 0)
                {

                    <td>
                        @Html.DisplayFor(modelItem => item.Preco)€ -
                        @Html.DisplayFor(modelItem => item.Promocao)% Desconto
                    </td>
                }
                else
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Preco)€
                    </td>
                }

                <td>
                    @Html.DisplayFor(modelItem => item.Stock)
                </td>

                @if (User.IsInRole("Utilizador"))
                {
                    <td>
                        @using (Html.BeginForm("ComprarItem", "Home", FormMethod.Get))
                        {
                            <input type="hidden" name="id" value="@item.idProduto" />
                            <input type="submit" value="Comprar" />

                        }
                    </td>
                    <td>
                        @using (Html.BeginForm("Details", "Home", FormMethod.Get))
                        {
                            <input type="hidden" name="id" value="@item.idProduto" />
                            <input type="submit" value="Detalhes" />

                        }
                    </td>
                }
                else
                {
                    <td>
                        @using (Html.BeginForm("Details", "Home", FormMethod.Get))
                        {
                            <input type="hidden" name="id" value="@item.idProduto" />
                            <input type="submit" value="Detalhes" />

                        }
                    </td>
                }



            </tr>
        }

    </table>

</div>


<script>
    function sortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("myTable2");
        switching = true;
        dir = "asc";
        while (switching) {
            switching = false;
            rows = table.rows;
            for (i = 1; i < (rows.length - 1); i++) {
                shouldSwitch = false;
                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];
                if (dir == "asc") {
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        shouldSwitch = true;
                        break;
                    }
                } else if (dir == "desc") {
                    if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                        shouldSwitch = true;
                        break;
                    }
                }
            }
            if (shouldSwitch) {
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                switchcount++;
            } else {
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
    }

</script>

<script>
    function Pesquisa() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable2");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>
